/* Posts */

.feed_wrapper {
    padding-bottom: 8px;
}

.feed_wrapper .card {
    width: 18rem; 
    max-width:280px;
    
}

.feed_wrapper .card,
.feed_wrapper .card > *{
    border: 0;
}

.feed_wrapper .card .card-head{
    height: 35px;
}

.post_feed_video {
  max-width: 100%;
}

.pfp
{
    width: 25px; 
    height: 25px;
}

.sharePost_Modal{
  height: 100%;
  width: 100%;
}

.sharePost_Modal .modal-dialog {
  height: 100%;
  margin: 0 !important;
  width: 100%;
}

.sharePost_Modal .modal-content{
  height: 100%;
  border-radius: 0 !important;
}

.sharePost_Modal .modal-body{
  height: 100%;
}

.sharePostUl{
  overflow-x: hidden !important;
  list-style-type: none;
  padding: 30px;
  overflow: scroll;
  height: 100%;
}

.sharePostUl  li{
  padding: 5px 0;
  font-size: 14px !important;

}

.sharePostUl .pfp
{
    width: 45px; 
    height: 45px;
}


.feed_wrapper .card .card-body{
    padding: 0;
}

.feed_wrapper .card .card-body img{
  width: 100%;
}

.feed_wrapper .card .show_more{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.feed_wrapper .card .show_hide{
    color: rgb(165, 165, 165);
    font-weight: 600;
}

/* Stories */
/* GlIDER JS */

.glider, .glider-contain {
  margin: 0 !important;
  max-width: 280px;
}

.glider::-webkit-scrollbar {
    display: none;
}

.story-username{
    font-size: 9px;
    font-weight: 500;
}

/* .storyHref{
    color: none;
} */

.border-down{
    border-bottom: 0.5px solid #dee2e6 !important;
}

.plusStory{
    background: white;
    font-size: 11px;
    bottom: -2px;
    right: -2px;  
    border: 1.5px solid white;
    border-radius: 50%;
}

.gradiant_background{
    background: linear-gradient(to bottom left, #cf00cf 25%, #ffcc00 100%);    width: 50px;
    height: 53px;
    width: 53px;
    border-radius: 50%;
}
.gradiant_background div{
    background-color: white;
    height: 49px;
    width: 49px;
    border-radius: 50%;
}

.slider-image {
  width: 46.5px;
  max-width: none !important;
  height: 46.5px;
  border-radius: 50%;
  box-shadow: 0px 0px 0.5px #000000;
}

.storyObserver{
    position: absolute;
    left: 95%;
    /* visibility: hidden; */
}

/* bootstrap vue carousel */

.storyHeader{
  height: 10%;
  position: relative;
  z-index: 1;
  width: 100%;
  /* padding-top: 50px !important;
  margin-top: 50px; */

}

.carousel{
  position: relative;
  height: 100%;
}
.carousel_wrapper .pfp{
  width: 40px;
  height: 40px;
}

.carousel_wrapper .username{
  font-size: 15px;
  color: white;
}


.carousel_wrapper{
  background:#262626 !important
}

.carousel_max_width{
  height: 100%;
  max-width: 600px;
  margin: 0 auto;
}


.carousel-control-prev,.carousel-control-next{
  position: absolute;
  height: fit-content;
  width: fit-content;
  top: 50% !important;
}
.carousel-control-next{
  right: -12% !important;
}
.carousel-control-prev{
  left: -12% !important;
}

.storySettings {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); 
  right: 5%;
  color: rgb(168, 167, 167);
  font-size: 20px;
}

.storySettings:hover {
  color: white;
}

/* ANIMATABLE CLOSE_icon ICON WITH PSEUDO ELEMENTS */

.close_icon {
  position: absolute;
  opacity: 1 !important;
  transition: all .3s;
}
.storyHeader .close_icon {
  top: 41%;
  transform: translateY(-50%);
  right: 3%;
}
.sharePost_Modal .close_icon {
  top: 41%;
  right: 3%;
}

.close_icon:before, .close_icon:after {
  position: absolute;
  /* top: 50%;
transform: translateY(-50%);
  left: 0; */
  content: ' ';
  height: 20px;
  width: 3px;
  background-color: rgb(168, 167, 167);
}
.close_icon:before {
  transform: rotate(45deg);
  transition: all .3s;
}
.close_icon:after {
  transform: rotate(-45deg);
  transition: all .3s;
}
.close_icon:hover:before, .close_icon:hover:after {
  background-color: white;
}

.close_icon:hover:before {
  transform: rotate(135deg);
  transition: all .3s;
}
.close_icon:hover:after {
  transform: rotate(45deg);
  transition: all .3s;
}

.carousel-indicators{
  bottom:auto;
  top: 3.5%;
}

.carousel-inner,
.carousel-item {
  height: 100%;

}

.img_carousel_wrapper {
  height: 90%;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.stories_images {
  vertical-align: middle;
  width: 100%;
}

.cld-image.my-2{
 margin: 0 !important;
}


/* User wrapper follow */
.welcome{
    padding-top: 15px;
  }

.welcome_message {
    font-size: 10px;
    /* font-weight: 300; */
}

.user_wrapper {
    width: 300px;
    height: fit-content;
    min-width: 205px;
    margin: 0;
}

.user_wrapper .card{
    width: 180px;
    min-width: 180px;
    height: fit-content;  
    box-shadow: 0px 3px 20px #00000041;
    border-radius: 10%;
    /* padding */
}
.user_wrapper .card-body{
    padding: 0;
    margin: 0;
}

.suggestion_pfp {
  width: 60px;
  max-width: none !important;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0px 0px 0.5px #000000;
}

.suggestion_username{
    font-size: 11px;
    margin: 10px 10px 0;
}

.suggestion_text{
    font-size: 7px;
    color: gray;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
    text-align: center;
    padding: 0 25px;
    margin: 3px 0 7px;
    height: 20px;
}

.suggestion_images {
    width: 100%;
    max-height: 42px;
}

.user_wrapper .card-footer{
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8px;
    height: 58px;
}

.user_wrapper .card-head{
    
    height: 86px;
}

.user_wrapper .card-body{
    
    height: 72px;
}

.user_wrapper .card-footer button{
    padding: 0 6px 1.5px;
    font-size: 9px;
    border-radius: 2px;
    margin-top: 2px;
}

.image_div {
    width: 33.3%;
    margin: 0 0.5px;
    height: 100%;
    background-color:rgba(128, 128, 128, 0.158);
}

.image_wrapper {
    height: 42px;
}

.slick-slide > div {
    padding-bottom: 20px;
}

.comment_like_icon{
    height: 13px;
    width: 15px;
    position: absolute;
}

.comment_like_icon.postfeed{
    top: 5px;
    right: -5px;
}

.comment_like_icon.commentfeed{
    top: 12px;
    right: 10px;
}

.comment_like_icon.replyfeed{
    top: 12px;
    right: -14px;
}

@keyframes highlight {
    0% {
        background: #fce24d57; 
    }
    100% {
        background: none;
    }
}
  
.highlight {
  animation: highlight 2s;
  border-radius: 2%;
}

.settings_Modal {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.settings_Modal .modal-content{
  border-radius: 12px !important;
}

.settings_Modal .modal-body{
  padding: 0 !important;
}

.settings_btn {
  font-size: 13px;
  font-weight: 700;
  background: none;
  border: none;
  border-bottom: 0.1px solid #0000005e;
  
}

.settings_btn:focus {
  
  outline: none !important;

}

.cancel_edit{
  position: absolute;
  font-weight: 700;
  top: 8.5px;
  right: 30px;
}

.cancel_edit.post_cancel{
  top: 0;
  right: 3px;
}



.editTxt {
    font-size: 11px !important;
}

.addComment_form{
  position: fixed!important;
  width: 100%;
  z-index: 1;  
  bottom: 25px;
}

/* HIDE SHOW FORM EFFECT */

/* .hideForm {
  bottom:-40px;
  visibility: hidden;
  transition: bottom 2s , visibility 10s 2s;
}

.showForm {
  bottom:40px;
  visibility: visible;
  transition: bottom 2s, visibility 10s 2s;
} */


.addComment_form textarea {
  width: 100% !important;
  font-size: 13px !important;
  padding:  12px 40px 0 49px !important;
  line-height: 12px;
  border-radius: 0;
}

.addComment_form textarea:focus {
  box-shadow: none ;
}

.submitComment {
  position: absolute !important;
  right: 5% !important;
  top: 50% !important;
  transform: translateY(-51%) !important;
  font-size: 13px !important;
  font-weight: 700 !important;
  color: rgba(var(--d69,0,149,246),1) !important;
  outline: none;
}

.pfp_form{
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-51%);
  border-radius: 50%;
  height: 27px;
  width: 27px;
}

.previewWrapper {
  background: rgb(192, 192, 192);
  height: 150px;
  position: relative;
  
}

.fa-cloud-upload-alt{
  color: white;
  font-size: 4em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  
}

.video.img,
.preview.img {
  max-width: 100%;
  max-height: 500px;
}

#SLICKNONE{
  display: none !important;
}

/* PROFILE */
.profile_avatar{
  width: fit-content;
}
.profile_image {
  width: 46.5px;
  max-width: none !important;
  height: 46.5px;
  border-radius: 50%;
  box-shadow: 0px 0px 0.5px #000000;
}
.post_history_wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 208px;
  overflow: scroll;
}

.post_history {
  flex: 0 0 25%;
  max-height: 52px;
}

.profile_liked_comment_pfp {

}